
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>easily</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="/css/404.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <nav id="mynav" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">easily</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jobs">Jobs</a>
            </li>
            <li class="nav-item dropdown">
              
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Recruiter
              </a>
              

              <ul class="dropdown-menu">
                
                <li><a class="dropdown-item" href="/login">Login</a></li>
                
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/postjob">Post New Job</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div><div class="container my-2">
  <div class="card mb-3">
    <a href="https://www.codingninjas.com/"
      ><img
        src="https://files.codingninjas.com/web-banner-28759.png"
        class="card-img-top"
        alt="poster"
    /></a>

    <div class="card-body">
      <h1 class="text-center text-success">
        <span class="text-danger"> SDE </span> oppertunity
        in GURGAON HR IND REMOTE at
        <span class="text-info"> Coding Ninjas </span>
      </h1>
      

      <div
        class="container d-flex flex-column align-items-centre justify-content-start my-3"
      >
        <h5 class="my-1">Coding Ninjas</h5>
        <div>
          <span>Tech</span>
          <span class="text-success">SDE</span>
        </div>
        <div
          class="d-flex flex-column align-items-centre justify-content-start p-2"
        >
          <span class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-geo-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"
              /></svg
            >Gurgaon HR IND Remote
          </span>
          <span class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-currency-rupee"
              viewBox="0 0 16 16"
            >
              <path
                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
              /></svg
            >14-20lpa
          </span>
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-hourglass-split"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"
              />
            </svg>
            Apply By 30 Aug 2023
          </span>
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-bar-chart-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"
              />
            </svg>
            Number of openings 5</span
          >
          <a
            style="text-decoration: none; color: rgb(215, 20, 85)"
            href="applicants/1"
          >
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-people-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
                />
              </svg>
              Applicants 1</span
            >
          </a>
        </div>

        <div class="container">
          <div class="skills p-1">
            
            <button class="btn btn-sm btn-outline-info">REACT</button>
            
            <button class="btn btn-sm btn-outline-info">NodeJs</button>
            
            <button class="btn btn-sm btn-outline-info">JS</button>
            
            <button class="btn btn-sm btn-outline-info">SQL</button>
            
            <button class="btn btn-sm btn-outline-info">MongoDB</button>
            
            <button class="btn btn-sm btn-outline-info">Express</button>
            
            <button class="btn btn-sm btn-outline-info">AWS</button>
            
          </div>
          <button
            data-bs-toggle="modal"
            data-bs-target="#applyModal"
            class="btn btn-md btn-primary px-5 my-2"
          >
            Apply Now
          </button>
        </div>
      </div>
      <!-- job posted -->
      <small class="text-body-secondary">
        <span
          style="width: 160px"
          class="bg-success text-white border border-success border border-success p-1 border-opacity-50 rounded"
        >
          Posted: 8/31/2023, 4:22:23 PM
        </span></small
      >
      <!-- job posted -->
    </div>
  </div>
</div>

<!-- applicant form  -->
<!-- Modal -->
<div
  class="modal fade"
  id="applyModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">
          easily
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- form start  -->
        <div class="container p-3 mx-auto w-75 form-box my-5 rounded-md">
          <h4 style="color: #181642" class="text-center mb-3">
            apply in less than 1 minute
          </h4>
          <form
            action="/apply/1"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Name</span>
                <input
                  required
                  name="name"
                  type="text"
                  aria-label="First name"
                  class="form-control"
                  placeholder="enter your name"
                />
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Email</span>
                <input
                  required
                  name="email"
                  type="email"
                  aria-label="email"
                  class="form-control"
                  placeholder="enter your email"
                />
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Contact</span>
                <input
                  required
                  name="contact"
                  type="tel"
                  aria-label="First name"
                  class="form-control"
                  placeholder="+91 ____ __ ____"
                />
              </div>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile01"
                >Resume</label
              >
              <input
                name="resume"
                type="file"
                class="form-control"
                id="inputGroupFile01"
                required
              />
            </div>

            <button
              class="w-100 mb-3 mt-2 btn btn-md btn-success"
              type="submit"
            >
              Submit
            </button>
          </form>
        </div>
        <!-- form end  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
  </body>
</html>
