<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>easily</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="/css/404.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <nav id="mynav" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">easily</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jobs">Jobs</a>
            </li>
            <li class="nav-item dropdown">
              
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Recruiter
              </a>
              

              <ul class="dropdown-menu">
                
                <li><a class="dropdown-item" href="/login">Login</a></li>
                
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/postjob">Post New Job</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div><div class="min-vh-100 bg-theme">
  <div
    class="container mx-auto p-2 d-flex align-items-centre justify-content-around flex-wrap"
  >
    
    <div class="card border-white m-3 bg-theme" style="max-width: 18rem">
      <div
        class="card-header d-flex flex-column align-items-centre justify-content-start p-2"
      >
        <span
          style="width: 160px"
          class="bg-primary bg-opacity-25 text-white border border-success border border-success p-1 border-opacity-50 rounded"
        >
          Actively hiring<svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-graph-up-arrow text-success mx-2"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"
            /></svg
        ></span>
        <h5 class="my-1 fw-bold text-warning">Coding Ninjas</h5>
        <div>
          <span>Tech</span>
          <span class="text-info">SDE</span>
        </div>
      </div>
      <div
        class="card-body d-flex align-items-centre justify-content-center flex-column"
      >
        <p class="fw-bold">
          <i class="bi bi-geo-alt-fill"></i>Gurgaon HR IND Remote
        </p>
        <p class="fw-bold">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-currency-rupee"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
            /></svg
          >14-20lpa
        </p>
        <div class="skills p-1">
          
          <button class="btn btn-sm btn-outline-info">REACT</button>
          
          <button class="btn btn-sm btn-outline-info">NodeJs</button>
          
          <button class="btn btn-sm btn-outline-info">JS</button>
          
          <button class="btn btn-sm btn-outline-info">SQL</button>
          
          <button class="btn btn-sm btn-outline-info">MongoDB</button>
          
          <button class="btn btn-sm btn-outline-info">Express</button>
          
          <button class="btn btn-sm btn-outline-info">AWS</button>
          
        </div>
        <a href="/job/1" class="btn btn-sm btn-outline-success my-2">
          View details
        </a>
      </div>
    </div>
    
    <div class="card border-white m-3 bg-theme" style="max-width: 18rem">
      <div
        class="card-header d-flex flex-column align-items-centre justify-content-start p-2"
      >
        <span
          style="width: 160px"
          class="bg-primary bg-opacity-25 text-white border border-success border border-success p-1 border-opacity-50 rounded"
        >
          Actively hiring<svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-graph-up-arrow text-success mx-2"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"
            /></svg
        ></span>
        <h5 class="my-1 fw-bold text-warning">Go Digit</h5>
        <div>
          <span>Tech</span>
          <span class="text-info">Angular Developer</span>
        </div>
      </div>
      <div
        class="card-body d-flex align-items-centre justify-content-center flex-column"
      >
        <p class="fw-bold">
          <i class="bi bi-geo-alt-fill"></i>Pune IND On-Site
        </p>
        <p class="fw-bold">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-currency-rupee"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
            /></svg
          >6-10lpa
        </p>
        <div class="skills p-1">
          
          <button class="btn btn-sm btn-outline-info">Angular</button>
          
          <button class="btn btn-sm btn-outline-info">JS</button>
          
          <button class="btn btn-sm btn-outline-info">SQL</button>
          
          <button class="btn btn-sm btn-outline-info">MongoDB</button>
          
          <button class="btn btn-sm btn-outline-info">Express</button>
          
          <button class="btn btn-sm btn-outline-info">AWS</button>
          
        </div>
        <a href="/job/2" class="btn btn-sm btn-outline-success my-2">
          View details
        </a>
      </div>
    </div>
    
    <div class="card border-white m-3 bg-theme" style="max-width: 18rem">
      <div
        class="card-header d-flex flex-column align-items-centre justify-content-start p-2"
      >
        <span
          style="width: 160px"
          class="bg-primary bg-opacity-25 text-white border border-success border border-success p-1 border-opacity-50 rounded"
        >
          Actively hiring<svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-graph-up-arrow text-success mx-2"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"
            /></svg
        ></span>
        <h5 class="my-1 fw-bold text-warning">Juspay</h5>
        <div>
          <span>Tech</span>
          <span class="text-info">SDE</span>
        </div>
      </div>
      <div
        class="card-body d-flex align-items-centre justify-content-center flex-column"
      >
        <p class="fw-bold">
          <i class="bi bi-geo-alt-fill"></i>Bangalore IND
        </p>
        <p class="fw-bold">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-currency-rupee"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
            /></svg
          >20-26lpa
        </p>
        <div class="skills p-1">
          
          <button class="btn btn-sm btn-outline-info">REACT</button>
          
          <button class="btn btn-sm btn-outline-info">NodeJs</button>
          
          <button class="btn btn-sm btn-outline-info">JS</button>
          
          <button class="btn btn-sm btn-outline-info">SQL</button>
          
          <button class="btn btn-sm btn-outline-info">MongoDB</button>
          
          <button class="btn btn-sm btn-outline-info">Express</button>
          
          <button class="btn btn-sm btn-outline-info">AWS</button>
          
        </div>
        <a href="/job/3" class="btn btn-sm btn-outline-success my-2">
          View details
        </a>
      </div>
    </div>
    
  </div>
</div>
</div>
  </body>
</html>